<div style="{{heightCSS}}px;background: blue">
	{{#if showTitle}}
		<div class="title" style="height:20px;background-color:white">
			<input type="text" value={{data.title}} >
		</div>
	{{/if}}
	<textarea style="{{textHeightCSS}}px;width:100%">textHeight:{{textHeight}}
{{data}}: current background: blue
Text: {{data.text}}
component Type: {{data.type}}</textarea>
</div>
