<div style="{{heightCSS}}background:blue;width:{{width}}px;">
	{{#if showTitle}}
	{{input type="text" class="inputTitle" value=data.title}}
	<div class="resize"></div>
	{{/if}}
	<textarea style="{{textHeightCSS}}width:100%;padding: 1em;">{{data.text}}</textarea>
</div>