<div style="border:1px solid rgb(0,0,0); height:800px;padding:3px; padding-left:15px; padding-right:15px;">
	<div class="header" style="height:30px;position:relative">
		Herder: Page {{model.CurrentPage}}/{{model.Totalpage}}{{model.pages}}
	</div>
	<div id="contentDiv" 
	style="border-top:1px solid rgb(0, 0, 0);margin-top:0px;
	border-bottom:1px solid rgb(0, 0, 0);background-color:gold;">
		{{#each model as |component|}}
			12{{component-base data=component}}34
		{{/each}}
		{{component-base data=model}}
	</div>

	<div class="footer" style="position:relative; height:30px;">
		Footer:Page{{model.CurrentPage}}
	</div>
</div>
{{outlet}}