<div style="border:1px solid rgb(0,0,0); height:800px;padding:3px;
 padding-left:15px; padding-right:15px;width:700px;position:relative;
 ">
	<div class="header" style="height:30px;position:relative">
		Herder: Page {{model.CurrentPage}}/{{model.Totalpage}}
	</div>
	<div id="contentDiv" 
	style="border-top:1px solid rgb(0, 0, 0);margin-top:0px;
	border-bottom:1px solid rgb(0, 0, 0);background-color:gold;">
		{{#each model.data as |component|}}
			{{component-base data=component settingChange=""}}
		{{/each}}
		
	</div>

	<div class="footer" style="position:relative; height:30px;">
		Footer:Page{{model.CurrentPage}}
	</div>
</div>
<div style="border:1px solid black; height:300px; width:190px;
overflow-y:auto; position:absolute; right:0px;top:0px;
padding:2px;">
    {{#if model.CurCompont}}
		Height: {{model.CurCompont.height}}px <br>
		ShowTitle: {{input type="checkbox" name="showTitle" checked=model.CurCompont.showTitle click=(action 'changed')}}<br>
		component Type: {{model.CurCompont.type}}
		1{{model.CurCompont.showTitle}}2
	{{else}}
	Current Component not valid...
	{{/if}}
</div>
{{outlet}}