    {{tab-bar }}
    <div class="col-md-2">
      <div class="list-group" style="overflow-y: auto;maxheight:800px">
        <div class="list-group-item">
          Pages ({{model.pages.length}})
        </div>
        {{#each model.pages as |page|}}
            <div class="list-group-item text-center">
            	{{#link-to 'PSWeb.page' page.id}}
            		<div class="container bg-info" style="width: 90%;height:150px;"></div>
              Page {{page.id}}
            	{{/link-to}}
	           </div>
	       {{/each}}
      </div>
    </div>
    <div class="col-md-8">
     {{outlet}}
    </div>
    <div class="col-md-2" style="border:1px solid black; height:300px">
      <div>Here I want to put component attrs...</div>
    </div>
{{size}}